pandas
pymongo
streamlit
redis
plotly
ipywidgets
matplotlib
scikit-learn
seaborn
streamlit_jupyter
statsmodels
jupyter_contrib_nbextensions
nbformat
notebook
jupyter-client
jupyter-core
pyspark
findspark
pillow
